html{
    scroll-behavior: smooth;
}
.to-top{
    color: theme-color(primary);
    background-color: $white-smoke;
    box-shadow: 0 0 10px rgba(109, 109, 109, 1);
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    &.active{
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
    }
}